<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../style/artifact.css">
  <meta http-equiv="refresh" content="10">
  <title>CI View</title>
</head>
<body>
  <div class="__message__">
    <p class="message">__message__</p>
    <p class="cMessage"><span class="label">Last Commit:&nbsp;</span>__cMessage__</p>
    <p class="committer"><span class="label">By:&nbsp;</span>__committer__</p>
    <p class="time"><span class="label">At:&nbsp;</span>__time__</p>
    <a href="info.txt" target="_blank">Integration Info</a>
  </div>
</body>
</html>