* {
  font-family: sans-serif;
}

p {
  color: white;
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(223, 223, 223);
}

.repoName {
  font-size: 30px;
  font-weight: 100;
  margin: 10px 20px 15px;
}

.passed,
.failed {
  padding: 20px 10px;
  box-shadow: 0 0 6px 0 gray;
  width: 600px;
}

.passed {
  background: rgb(10, 161, 10);
}

.failed {
  background: red;
}

.label {
  font-size: 18px;
  font-weight: 400;
}

.message {
  font-size: 60px;
  font-weight: 200;
  margin: 20px 20px 50px;
  text-transform: capitalize;
}

.cMessage,
.committer,
.time {
  font-weight: 200;
  margin: 8px 20px;
  font-size: 18px;
}

a {
  font-size: 15px;
  bottom: 2px;
  padding: 0 20px;
}

a:visited,
a {
  color: blue;
  opacity: 0.8;
}

a:hover {
  color: blue;
  opacity: 1;
}
